<!DOCTYPE html>

<html ng-app="peachtree">
  <head>
    <title>Peachtree</title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="style.css" type="text/css" />
  </head>
  <body>
    <div class="banner">
      <div class="container-fluid">
        <h1>Peachtree</h1>
      </div>
    </div>
    </div>
    <div class="container-fluid" ng-controller="DashboardController">
      <div class="row-fluid">
      
        <div class="span6">
          <div ng-controller="RunningMachinesController">
            <h2>Running machines</h2>
            <table data-peachtree="running-machines" class="table table-bordered table-striped table-shrink">
              <thead>
                <tr>
                  <th></th>
                  <th></th>
                  <th>Identifier</th>
                  <th>Image</th>
                  <th>Start time</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="machine in machines">
                  <td><input type="button" value="Stop" ng-click="stop(machine)"></td>
                  <td><input type="button" value="View" ng-click="view(machine)"></td>
                  <td>{{machine.identifier}}</td>
                  <td>{{machine.imageName}}</td>
                  <td>{{formatTime(machine.startTime)}}</td>
                </tr>
              </tbody>
            </table>
            <p ng-show="!machines.length">No running machines</p>
          </div>
          
          <div ng-controller="AvailableImagesController">
            <h2>Available images</h2>
            <table data-peachtree="available-images" class="table table-bordered table-striped table-shrink">
              <tr ng-repeat="image in images">
                <td><input type="button" value="Start" ng-click="start(image)"></td>
                <td data-peachtree="image-name">{{image}}</td>
              </tr>
            </table>
            <p ng-show="!images.length">No available images</p>
          </div>
        </div>
        
        <div class="span6">
          <div ng-controller="MachineController">
            <div ng-show="selectedMachine">
              <h2>View machine</h2>
              <table class="table table-bordered table-shrink" data-peachtree="view-machine">
                <tr><th>Identifier</th><td>{{selectedMachine.identifier}}</td></tr>
                <tr><th>Image</th><td>{{selectedMachine.imageName}}</td></tr>
                <tr><th>Start time</th><td>{{formatTime(selectedMachine.startTime)}}</td></tr>
                <tr>
                  <th>SSH config</th>
                  <td>
<pre data-peachtree="ssh-config">HostName {{selectedMachine.sshConfig.hostname}}
Port {{selectedMachine.sshConfig.port}}
User {{selectedMachine.sshConfig.user}}
Password {{selectedMachine.sshConfig.password}}</pre></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
          
      </div>
    </div>
    
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
