<!DOCTYPE html>

<html ng-app="peachtree">
  <head>
    <title>Peachtree</title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.2.2/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="style.css" type="text/css" />
  </head>
  <body>
    <div class="banner">
      <div class="container-fluid">
        <h1>Peachtree</h1>
      </div>
    </div>
    </div>
    <div class="container-fluid">
      <div class="row-fluid">
      
        <div class="span3">
          <nav class="well sidebar-nav">
            <ul class="nav nav-list">
              <li>Thing</li>
            </ul>
          </nav>
        </div>
        
        
        <div class="span9">
          <div ng-controller="RunningMachinesController">
            <h2>Running machines</h2>
            <table class="table table-bordered table-striped table-shrink">
              <tr>
                <th></th>
                <th>Identifier</th>
                <th>Image</th>
                <th>Start time</th>
              </tr>
              <tr ng-repeat="machine in machines">
                <td><input type="button" value="Stop" ng-click="stop(machine)"></td>
                <td>{{machine.identifier}}</td>
                <td>{{machine.imageName}}</td>
                <td>{{formatTime(machine.startTime)}}</td>
              </tr>
            </table>
            <p ng-show="!machines.length">No running machines</p>
          </div>
          
          <div ng-controller="AvailableImagesController">
            <h2>Available images</h2>
            <table class="available-images table table-bordered table-striped table-shrink">
              <tr ng-repeat="image in images">
                <td><input type="button" value="Start" ng-click="start(image)"></td>
                <td>{{image}}</td>
              </tr>
            </table>
            <p ng-show="!images.length">No available images</p>
          </div>
        </div>
          
      </div>
    </div>
    
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
    <script src="main.js"></script>
  </body>
</html>
