.banner {
    background-color: #825fa3;
    color: #f0d0d3;
    margin-bottom: 20px;
}

.banner h1 {
    font-size: 20px;
}

h2 {
    font-size: 20px;
    line-height: 1.4;
    margin: 0 0 7px;
}

.table-shrink {
    width: auto;
}

.table td.inner-table {
    padding: 0;
}

.table td.inner-table td:first-child,
.table td.inner-table th:first-child {
    border-left: none;
}

.table td.inner-table table {
    margin: 0;
    padding: 0;
}

.table td.inner-table tbody {
    border-top: 1px solid #DDDDDD;
}
